.products {
  padding: 1rem;
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-size: 24px;
    }
    button {
      background: none;
      outline: none;
      border: 1px solid #aaa;
      border-radius: 8px;
      padding: 0.8rem 1.5rem;
      font-size: 16px;
      cursor: pointer;
    }
  }
  &-cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    row-gap: 3rem;

    &__card {
      display: grid;
      gap: 1rem;
      &-image {
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        img {
          border-radius: 8px;
        }
        span {
          left: 0;
          bottom: 0;
          position: absolute;
          background: #e85b2f;
          padding: 0.5rem 1rem;
          border-radius: 8px;
          clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
        }
      }
      &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name {
          font-size: 18px;
        }
        .price {
          font-size: 20px;
        }
      }
    }
  }
}
