* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f0f1f2;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
  font-weight: 400;
}
img {
  max-width: 100%;
  object-fit: cover;
}
body {
  background: #191818;
}
.dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  backdrop-filter: blur(10px);
}
